!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    //
       meta 
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='description', content='#{config.description}')
    - var headers = config.site_headers || [];
    - for (var i = 0, l = headers.length; i < l; i++) {
    !{headers[i]}
    - }
    meta(property='wb:webmaster', content='617be6bd946c6b96')
    link(title='RSS', type='application/rss+xml', rel='alternate', href='/rss')

    //
       style

    //jquery ui css
    link(rel='stylesheet', type='text/css', href='/libs/jquery-ui-1.8.21.custom/css/ui-lightness/jquery-ui-1.8.21.custom.css', media='screen')

    //fancybox css
    link(rel='stylesheet', type='text/css', href='/libs/jqGrid_fancybox/css/fancybox.css', media='screen')

    //新版本jqGrid css
    link(rel='stylesheet', type='text/css', href='/libs/jquery.jqGrid-4.4.0/css/ui.jqgrid.css', media='screen')

    //新版本jqGrid css
    link(rel='stylesheet', type='text/css', href='/libs/jquery.jqGrid-4.4.0/css/ui.jqgrid.css', media='screen')

    //other css
    link(rel='stylesheet', type='text/css', href='/libs/bootstrap/css/bootstrap.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css', media='screen')

    //
       script 
    //script(type='text/javascript', src='/libs/jquery/jquery.js')
    script(type='text/javascript', src='/libs/jquery-ui-1.8.21.custom/js/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/libs/jquery-ui-1.8.21.custom/js/jquery-ui-1.8.21.custom.min.js')
    script(type='text/javascript', src='/libs/bootstrap/js/bootstrap.js')
    script(type='text/javascript', src='/javascripts/main.js')

    - if (locals.topic) { 
    title  #{locals.topic} - #{config.name}
    - } else { 
    title= config.description 
    - }
  body
    //
       navbar 
    .navbar
      .navbar-inner
        .container
          a.brand(href='/')
            img(src=config.site_logo, title=config.name)
          ul.nav.pull-right
            li
              a(href='/') 首页
            - var site_navs = config.site_navs || [];
            - for (var i = 0, l = site_navs.length; i < l; i++) {
                - var nav = site_navs[i];
            li
              a(href='/stores/index') 商户管理
            li
              a(href='') 平台管理
            li
              a(href=nav[0], target=nav[2]) #{nav[1]}
            - }
            li.divider-vertical
            - if (locals.current_user) { 
             li
              a(href='/signup') 设置
            li
              a(href='/signout') 退出           
            - } else { 
            li
              a(href='/signin') 登录
            - }
    //
       wrapper
    #wrapper
        #main
            != body
    //
       footer 
    #footer
      #footer_main
        .fr
        div
          strong
            a.dark(href='/about') 关于
          | |
          strong
            a.dark(href='/faq') FAQ
        .sep10
        .col_fade 
          南京泛盈软件科技有限公司
          | © 2012    
          | 版本: #{config.version}
    script(type='text/javascript')
      (function() {
      var c = document.createElement('script'); c.type = 'text/javascript'; c.async = true;
      c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/44998';
      var h = document.getElementsByTagName('head')[0]; h.appendChild(c);
      })();