//以下是本页面引入的js文件
script(type='text/javascript', src='/javascripts/views/merchant/merchant.js')

.form-container
    form#add_form(action='', method='post')
        p.legend
            strong 注意:
                em 红色
                |为必填字段！
        fieldset
            legend
            div
                input(type='hidden', name='_csrf', value='#{csrf}')
                input#_id(type='hidden', name='_id', value='#{locals._id?_id:''}')
                input#pageState(type='hidden', name='pageState', value='#{pageState}')
                input#save.btn(type='button', value=' 保 存 ')
                input#update.btn(type='button', value=' 更 新 ')
                input#close.btn(type='button', value=' 关 闭 ', onclick='$("#popDialog").dialog("close");')
        fieldset#merchantsContent
            legend(style='color: #C00; font-style: normal;') 商户信息
            div
                label.error   商户简称：
                input#short_name.allowInput(type='text', name='short_name')
            div
                label         商户全称：
                input#full_name.allowInput(type='text', name='full_name')
            div
                label.error   状态：
                select#state.allowInput(name='state')
                    - var states = [{id:1,value:'启用'}, {id:0,value:'禁用'}];
                    - for (var i in states)
                        - var str = "<option value='"+states[i].id+"' >"+states[i].value + " </option>"
                        |!{str}
            div
                label.error   类型：
                select#type.allowInput(name='type')
                    - var types = [{id:0,value:'连锁商户'},{id:1,value:'小型商户'},{id:2,value:'中型商户'},{id:3,value:'大型商户'}];
                    - for (var i in types)
                        - var str = "<option value='"+types[i].id+"' >"+types[i].value + " </option>"
                        |!{str}
            div
                table(border='0')
                    tr
                        td
                            label         商户LOGO：
                            input#logo_img_path.allowInput(type='hidden', name='logo_img_path')
                        td(width="150")
                            img#logo_img_path_show(height="60", width="60")
                        td(valign="bottom")
                            #logo_img_path_file_uploader
                                noscript
                                    p Please enable JavaScript to use file uploader.

            div
                label.error   营业执照号：
                input#charter_num.allowInput(type='text', name='charter_num')
            div
                table(border='0')
                    tr
                        td
                            label   营业执照图片上传：
                            input#charter_img_path.allowInput(type='hidden', name='charter_img_path')
                        td(width="150")
                            img#charter_img_path_show(height="60", width="60")
                        td(valign="bottom")
                            #charter_img_path_file_uploader
                                noscript
                                    p Please enable JavaScript to use file uploader.
            div
                label   详细地址：
                input#address.allowInput(type='text', name='address')
            div
                label   网站：
                input#website.allowInput(type='text', name='website')
            div
                label   电话：
                input#phone.allowInput(type='text', name='phone')
            div
                label   传真：
                input#fax.allowInput(type='text', name='fax')
            div
                label   商户简介：
                input#self_intro.allowInput(type='text', name='self_intro')
            div
                label   会员待遇：
                input#member_intro.allowInput(type='text', name='member_intro')
            div
                label.error   地区编号：
                input#district_code.allowInput(type='text', name='district_code')
            div#create_time_div
                label         开户时间：
                input#create_time.allowInput(type='text', name='create_time', readonly)
            div
                label.error   到期时间：
                input#due_time.allowInput(type='text', name='due_time', readonly)
            div
                label.error   商户级别：
                select#merchant_level_id.allowInput(name='merchant_level_id')
            div
                label  备注：
                textarea#comment.allowInput(rows='5', cols='40', name='comment')